<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<servlet>
		<servlet-name>log4j</servlet-name>
		<servlet-class>com.hhhy.web.servlet.Log4jServlet</servlet-class>
		<init-param>
			<param-name>log4j.properties</param-name>
			<param-value>log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>StatisKeyWord</servlet-name>
		<servlet-class>com.hhhy.web.servlet.SummarizeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StatisKeyWord</servlet-name>
		<url-pattern>/StatisKeyWord</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>KeyWordAddServlet</servlet-name>
		<servlet-class>com.hhhy.web.servlet.KeyWordAddServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>KeyWordAddServlet</servlet-name>
		<url-pattern>/addkeyword</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>KeyWordDelServlet</servlet-name>
		<servlet-class>com.hhhy.web.servlet.KeyWordDelServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>KeyWordDelServlet</servlet-name>
		<url-pattern>/deletekeyword</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserRegister</servlet-name>
		<servlet-class>com.hhhy.web.servlet.UserRegister</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserRegister</servlet-name>
		<url-pattern>/UserRegister</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>com.hhhy.web.servlet.UserLogin</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Summarize</servlet-name>
		<servlet-class>com.hhhy.web.servlet.SummarizeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Summarize</servlet-name>
		<url-pattern>/summarize</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>export</servlet-name>
		<servlet-class>com.hhhy.web.servlet.ReportExportServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>export</servlet-name>
		<url-pattern>/export</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.hhhy.web.servlet.SearchServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>keylist</servlet-name>
		<servlet-class>com.hhhy.web.servlet.KeylistServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>keylist</servlet-name>
		<url-pattern>/keylist</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>datasource</servlet-name>
		<servlet-class>com.hhhy.web.servlet.DataSourceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>datasource</servlet-name>
		<url-pattern>/datasource</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>emailset</servlet-name>
		<servlet-class>com.hhhy.web.servlet.EmailSetServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>emailset</servlet-name>
		<url-pattern>/emailset</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>emotiontrend</servlet-name>
		<servlet-class>com.hhhy.web.servlet.EmotionTrendServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>emotiontrend</servlet-name>
		<url-pattern>/emotiontrend</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mediasource</servlet-name>
		<servlet-class>com.hhhy.web.servlet.MediaSourceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>mediasource</servlet-name>
		<url-pattern>/mediasource</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>phoneset</servlet-name>
		<servlet-class>com.hhhy.web.servlet.PhoneSetServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>phoneset</servlet-name>
		<url-pattern>/phoneset</url-pattern>
	</servlet-mapping>



	<!-- <welcome-file-list>
		<welcome-file>loginWeb.jsp</welcome-file>
	</welcome-file-list> -->
	
	 <welcome-file-list>
		<welcome-file>dataExport.jsp</welcome-file>
	</welcome-file-list> 
</web-app>
